@keyframes bounce {

0%,
100% {
    transform: translateY(0);
}

50% {
    transform: translateY(-20px);
}
}

.fade-out {
animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
to {
    opacity: 0;
    visibility: hidden;
}
}


.loader {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #fef9ea;
position: fixed;
top: 0;
left: 0;
width: 100vw;
z-index: 50;
}

.paw {
width: 120px;
height: 120px;
background: url('./assets/loader.png') no-repeat center center;
background-size: contain;
position: absolute;
animation: bounce 1s infinite ease-in-out;
}
